.source-result-container {
    .source-link {
        display: flex;
        position: absolute;
        top: 0px;
        left: 30px;

        span {
            margin-right: 5px;
        }
    }

    .vacancy-list {
        display: flex;
        flex-wrap: wrap;

        .vacancy-item {
            margin: 3px;
            background-color: aliceblue;
        }
    }
}
